[Hostnames]
hosts: 
OS_family: {{ ansible_facts['os_family'] }}

Total RAM: {{ ansible_facts['memtotal_mb'] }}
Free RAM: {{ ansible_facts['memfree_mb'] }}

IP Addresses: {{ ansible_facts['default_ipv4']['address'] }}
Environment: {{ env_tag }}
Ansible Version: {{ ansible_version }}

