[Hostnames]
hosts: {{ inventory_hostname }}

OS_family: {{ ansible_facts['os_family'] | upper }}

Distribution: {{ ansible_facts['distribution'] }}

Total RAM: {{ ansible_facts['memtotal_mb'] }}
Free RAM: {{ ((ansible_facts['memfree_mb'] / ansible_facts['memtotal_mb']) * 100) | int }}%

Operator: {{ operator_name | default('Unknown') }}

IP Addresses: {% for ip in ansible_facts['all_ipv4_addresses'] %}
  - {{ ip }}
{% endfor %}

Environment: {{ env_tag | join(', ') }}

Ansible Version: {{ ansible_version['string'] }}

